{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Home Page{% endblock %}</h1>
    {% if not g.user %}
        <p>Guest</p>
    {% endif %}

    {% if g.user %}
        <p>Logged in as {{ g.user['username'] }}</p>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <br>
                <div class="card">
                    <div class="card-header">
                        Welcome message
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Welcome to my DTSA-5714 Project</h5>
                        <p class="card-text">To get started, choose one of the options in the navigation bar,
                        or leave a message on the right</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                {% if g.user %}
                    <br>
                    <h3>Leave your message!</h3>
                    <form action="/message" method="POST">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Enter your message:</label>
                            <input type="text" class="form-control" id="user_input" name="user_input">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                    You have to log in to see the content
                    </div>
                {% endif %}
                </div>
            </div>
    </div>


{% endblock %}