{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}DTSA-5714{% endblock %}</h1>
    {% if not g.user %}
        <p>Guest</p>
    {% endif %}

    {% if g.user %}
        <p>Logged in as {{ g.user['username'] }}</p>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>{{ text }}</p>
                <div class="my-3 p-3 bg-white rounded box-shadow">
                    <h6 class="border-bottom border-gray pb-2 mb-0">Recent messages</h6>
                        <ul class="list-group" style="height: 550px; overflow-y: scroll;">
                            <li class="list-group-item">
                                <div class="media text-muted pt-3">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="mr-2 rounded" width="32" height="32">
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <strong class="d-block text-gray-dark">@username</strong>
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                        </p>
                    </div>
                            </li>
                            <li class="list-group-item">
                                <div class="media text-muted pt-3">
                        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" class="mr-2 rounded" width="32" height="32">
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <strong class="d-block text-gray-dark">@username</strong>
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                        </p>
                    </div>
                        </li>
                            <li class="list-group-item">
                                <div class="media text-muted pt-3">
                        <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="" class="mr-2 rounded" width="32" height="32">
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <strong class="d-block text-gray-dark">@username</strong>
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                        </p>
                    </div>
                        </li>
                            <li class="list-group-item">
                                <div class="media text-muted pt-3">
                        <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" class="mr-2 rounded" width="32" height="32">
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <strong class="d-block text-gray-dark">@username</strong>
                            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                        </p>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-md-4">
                {% if g.user %}
                    <form action="/message" method="POST">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Enter your message:</label>
                            <input type="text" class="form-control" id="user_input" name="user_input">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                    You have to log in to see the content
                    </div>
                {% endif %}
                </div>
            </div>
    </div>


{% endblock %}